{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <a class="masthead__name" href="{{ base_path }}/">{{ site.title }}</a>
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains 'http' %}
              {% assign domain = '' %}
              {% else %}
              {% assign domain = base_path %}
            {% endif %}
            {% if link.url == "/" %}
              {% assign current = page.url | remove: "index.html" %}
            {% else %}
              {% assign current = page.url %}
            {% endif %}
            <li class="masthead__menu-item"><a href="{{ domain }}{{ link.url }}"{% if current == link.url %} class="is-current"{% endif %}>{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
